body {
  width: 100%;
  background-color: #f1f1f1;
  margin: 0;
}
p {
  margin: 10px 0;
  padding: 0;
}

.main-wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding: 0;
  font-family: Arial;
  background-color: #fff;
}
.p20 {
  padding: 20px;
}
.logo-wrapper {
  padding: 15px;
  border-bottom: 1px #f1f1f1 solid;
}
.logo {
  width: 100%;
  max-width: 90px;
  height: auto;
  padding: 0;
  margin: 0;
}

.footer {
  font-size: 14px;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}

.btn {
  display: inline-block;
  background-color: #08e8de;
  border-radius: 5px;
  text-transform: uppercase;
}

.body {
  padding: 20px;
  font-size: 14px;
}
.body a {
  color: #000;
  text-decoration: none;
}
.btn .a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
}
.body .welcome {
  color: #000;
  display: inline-block;
}
.address {
  font-size: 12px;
}
