		<div class="footer">
			<p><a href="#"><strong>__company_name__</strong></a></p>
			<div class="address">
				__company_address__.<br><a href="#">Email: __mailaddress__</a>,<br>
				Phone No:<a href="#"><strong>__phonenumber__</strong>,</a>
			</div>
		</div><!--footer-->

		</div><!--main-wrapper-->

	</div>
</body>