<% include ../_header %>
	<div class="body">
		<p>Hi __user_name__ %>,</p>
		<p>Seems like you forgot your password, don’t worry, it happens to the best of us!</p>
		<p>Click on the button below to reset your password.</p>
		<div class="btn">
			<a href="#" class="a"><strong>RESET PASSWORD</strong></a>
		</div>
		<p>Cheers!<br>__company_name__</p>
	</div>
<% include ../_footer %>