<% include ../_header %>
<div class="body">
	<p>Welcome <%= user.name %>, </p>
	<p>You have successfully signed up</p>
	<p>Cheers,<br>__company_name__</p>
</div><!--content-or-Body-->
<% include ../_footer %>